body{
    font-family: 'Montserrat-Black';
}
#title{
    background-color:#ff4c68;
    color:#fff;

}
.navbar{
    padding-bottom: 2.5rem;
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight:bold;
}
.nav-item{
    padding-left: 18px;
    padding-right:18px;
}
.nav-link{
    font-size:1.6rem;
    font-family: 'Montserrat-Light';
}
.btn{
    margin:15px 3px 0px 0px;
}
.imag{
    padding-left:30px;
    transform: rotate(15deg);
    position:absolute;
    width: 25%;
    
}

h1{
    font-family:'Montserrat';
    font-size:3.5rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat-Black';
    font-size: 2.5rem;
    text-align: center;
    
}
p{
    color:grey;
    color:#000;
}
.container-fluid{
    padding:3% 15%;
}
#features{
    padding:7% 15%;
    background-color: #fff;
    position:relative;
    z-index: 1;
}
.boxd{
text-align: center;
padding:5%;
}
#testimonials{
    text-align: center;
    background-color: #ff4c68;
}
h2{
    font-size: 3rem;
    font-family: 'Montserrat-Black';
    padding-top: 3%;
}
.testim{
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius:50%;
    width:15%;
}
#press{
    text-align:center;
    background-color: #ff4c68;
    }
    .pre{
        width:15%;
        margin:2% 2% 2% 2%;
        
    }
    #pricing{
        text-align:center;
        
    }
    .col{
        padding-bottom: 7%;
        margin:3% 3%;
    }
    @media(max-width:1028px){
        .imag{
            position:static;
            transform:rotate(0) ;
            text-align: center;
        }
    }
    #cta{
        background-color:#ff4c68;
        text-align:center;
        margin-top: 30px;
        color: #fff;
        padding:40px 40px;
    }
    #footer{
        text-align:center;
        background-color: #fff;
        padding:30px 0;

    }
   


